/DeBombME_Project/nbproject/private/
/DeBombME_Project/build/
/TEstHiber/nbproject/private/
/TEstHiber/build/
/DebombTest/nbproject/private/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/build/
/Test2/nbproject/private/
/TestNoFX/nbproject/private/
/TestNoFX/build/
/TestNoFX/dist/
/Test2/build/
/DeBombME_Java/nbproject/private/
/DeBombME_Java/dist/
/DeBombME_Java/build/
/testreadtxt/nbproject/private/
/testreadtxt/build/