.root{
    -fx-font-family: 'Arial';
    -fx-background-color: #dee1dd;
}

#grid{
    -fx-background-image: url("/img/bg.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 550 400;
}

#btn{
    -fx-background-color: #525252;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 20, 25, 20, 25;  
}

#btn:hover{
    -fx-background-color: #658b6e;
    -fx-text-fill: white;
    -fx-padding: 20, 25, 20, 25;  
}
